@model IEnumerable<Anjali_Assignment_ASP.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p> All the info about Teacher</p>

<div id="containerList">
    <h2>List of Teachers</h2>
    @foreach (var teacher in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div>
        </div>
    }
</div>

